[submodule "CraftingStore-OG"]
	path = CraftingStore-OG
	url = https://github.com/true-og/CraftingStore-OG
[submodule "Essentials-OG"]
	path = Essentials-OG
	url = https://github.com/true-og/Essentials-OG
[submodule "FastCrystals-OG"]
	path = FastCrystals-OG
	url = https://github.com/true-og/FastCrystals-OG
[submodule "WETS-OG"]
	path = WETS-OG
	url = https://github.com/true-og/WETS-OG
[submodule "PlayTimes-OG"]
	path = PlayTimes-OG
	url = https://github.com/true-og/PlayTimes-OG
[submodule "AntiPearlGlitch-OG"]
	path = AntiPearlGlitch-OG
	url = https://github.com/true-og/AntiPearlGlitch-OG
[submodule "OldCombatMechanics-OG"]
	path = OldCombatMechanics-OG
	url = https://github.com/true-og/OldCombatMechanics-OG
[submodule "TAB-OG"]
	path = TAB-OG
	url = https://github.com/true-og/TAB-OG
[submodule "LuckPerms-OG"]
	path = LuckPerms-OG
	url = https://github.com/true-og/LuckPerms-OG
[submodule "IllegalStack-OG"]
	path = IllegalStack-OG
	url = https://github.com/true-og/IllegalStack-OG
[submodule "Duels-OG"]
	path = Duels-OG
	url = https://github.com/true-og/Duels-OG
[submodule "PurpurExtras-OG"]
	path = PurpurExtras-OG
	url = https://github.com/true-og/PurpurExtras-OG
[submodule "Votifier-OG"]
	path = Votifier-OG
	url = https://github.com/true-og/Votifier-OG
[submodule "Cosmetics-OG"]
	path = Cosmetics-OG
	url = https://github.com/true-og/Cosmetics-OG
[submodule "AnnouncerPlus-OG"]
	path = AnnouncerPlus-OG
	url = https://github.com/true-og/AnnouncerPlus-OG
[submodule "DropHeads-OG"]
	path = DropHeads-OG
	url = https://github.com/true-og/DropHeads-OG
[submodule "QuickShop-OG"]
	path = QuickShop-OG
	url = https://github.com/true-og/QuickShop-OG
[submodule "EvLib-OG"]
	path = EvLib-OG
	url = https://github.com/true-og/EvLib-OG
[submodule "CoreProtect-OG"]
	path = CoreProtect-OG
	url = https://github.com/true-og/CoreProtect-OG/
[submodule "MCL-Votifier-OG"]
	path = MCL-Votifier-OG
	url = https://github.com/true-og/MCL-Votifier-OG
[submodule "Quests-OG"]
	path = Quests-OG
	url = https://github.com/true-og/Quests-OG
