[submodule "Essentials-OG"]
	path = Essentials-OG
	url = https://github.com/true-og/Essentials-OG
[submodule "WETS-OG"]
	path = WETS-OG
	url = https://github.com/true-og/WETS-OG
[submodule "PlayTimes-OG"]
	path = PlayTimes-OG
	url = https://github.com/true-og/PlayTimes-OG
[submodule "AntiPearlGlitch-OG"]
	path = AntiPearlGlitch-OG
	url = https://github.com/true-og/AntiPearlGlitch-OG
[submodule "TAB-OG"]
	path = TAB-OG
	url = https://github.com/true-og/TAB-OG
[submodule "IllegalStack-OG"]
	path = IllegalStack-OG
	url = https://github.com/true-og/IllegalStack-OG
[submodule "PurpurExtras-OG"]
	path = PurpurExtras-OG
	url = https://github.com/true-og/PurpurExtras-OG
[submodule "Votifier-OG"]
	path = Votifier-OG
	url = https://github.com/true-og/Votifier-OG
[submodule "Cosmetics-OG"]
	path = Cosmetics-OG
	url = https://github.com/true-og/Cosmetics-OG
[submodule "QuickShop-OG"]
	path = QuickShop-OG
	url = https://github.com/true-og/QuickShop-OG
[submodule "CoreProtect-OG"]
	path = CoreProtect-OG
	url = https://github.com/true-og/CoreProtect-OG/
[submodule "MCL-Votifier-OG"]
	path = MCL-Votifier-OG
	url = https://github.com/true-og/MCL-Votifier-OG
[submodule "QSFindItemAddOn-OG"]
	path = QSFindItemAddOn-OG
	url = https://github.com/true-og/QSFindItemAddOn-OG
[submodule "ArenaRegen-OG"]
	path = ArenaRegen-OG
	url = https://github.com/true-og/ArenaRegen-OG
[submodule "Celeste-OG"]
	path = Celeste-OG
	url = https://github.com/true-og/Celeste-OG
[submodule "PacketEvents-OG"]
	path = PacketEvents-OG
	url = https://github.com/true-og/PacketEvents-OG
[submodule "Hologram-OG"]
	path = Hologram-OG
	url = https://github.com/true-og/Hologram-OG
[submodule "PlayerBounties-OG"]
	path = PlayerBounties-OG
	url = https://github.com/true-og/PlayerBounties-OG
